<%= render 'customers/header' %>
  <div class='container'>
    <div class='row'>
      <h1>まいど、お買い上げありがとうございます</h1>
    </div>
    <%= link_to '購入履歴', orders_path, class: 'btn btn-primary' %>
    <%= link_to 'ショッピングをする', root_path, class: 'btn btn-danger'%>
  </div>
