<div class="nested-fields form-inline">
  <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %>
  <div class="form-group">
    <%= link_to_remove_association "ジャンルを削除", f, class: "remove-link" %>
  </div>
</div>
